.tagger-cont {
	display: flex;
	justify-content: center;
}
.tagger-overlay {
	visibility: hidden;
	z-index: 1000;
	/*background-color: green;*/
	top: 0;
	left: 0;
	right: 1vw;
	bottom: 1vh;
	border: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tag-editor {
	width: 100%;
	height: 100%;
	max-width: 350px;
	max-height: 500px;
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: white;
}
.tag-editor ol, ul {
    list-style: outside none none;
}
.tags {
    background: none repeat scroll 0 0 #fff;
    border: none;
    display: table;
    padding: 0.5em;
    width: 100%;
}
.tags li.tagAdd, .tags li.addedTag {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.tags li.addedTag {
    background: none repeat scroll 0 0 #019f86;
    border-radius: 2px;
    color: #fff;
    padding: 0.25em;
}
.tags li.inactiveTag {
	background-color: #d3d3d3;
}
.tags input, li.addedTag {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 0.5em;
}
/* tag input { */
.tag-input-wrap {
	display: flex;
    	border: 1px solid transparent;
    	padding: 0.5em;
    	border-radius: 2px;
}
.tag-input-text {
	flex: 1 1 auto;
    	border-color: #000;
	border-width: 1;
	border-top: 1;
	border-bottom: 1;
	border-left: 1;
	border-right: 0;
    	/* border-radius: 2px;*/
}
.tag-input-add {
	background-color: #019f86;
    	border-color: #000;
	border-width: 1;
	border-top: 1;
	border-bottom: 1;
	border-left: 0;
	border-right: 1;
	font-weight: bold;
	font-size: 120%;
}
/* } */
span.tagRemove {
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}
span.tagRemove:hover {
    color: #222222;
}  
.tagger-editor-header {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.tagger-editor-close {
	border: 1px solid gray;
	padding: 2px;
	margin: 4px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.tag-autocomplete-menu {
	overflow-y: scroll;
	max-height: 35%;
	border: solid thin #d8d8d8;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 2px;
}

.tag-autocomplete-item {
}

.tag-autocomplete-item.highlighted {
	border: dashed thin #d8d8d8;
}
