<div class="tagger-overlay">
	<div class="tag-editor">
		<div class="tagger-editor-header">
			<div class="tagger-editor-close">X</div>
		</div>
		<ul class="tags" data-filename="{{ filename }}" data-filepath="{{ path }}">
		</ul>
		<div class="tag-input-wrap">
			<input type="text" class="tag-input-text">
			<input type="submit" class="tag-input-add" value="+">
		</div>
	</div>
</div>
<div class="tagger-cont">
	<a href="javascript:" class="tagger-switch">Tag</a>
</div>
